[*.cs]
# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = suggestion

# CA1515: Consider making public types internal
dotnet_diagnostic.CA1515.severity = suggestion

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = suggestion
